<div id="footer-block">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <p><b>Администрирование сайта:</b> Бровка Дионисий, Галицкий Максим <br>
                    <b>Адрес:</b> 220108, Республика Беларусь, г. Минск, ул. Казинца, 91 <br>
                    <b>Телефон:</b> <a href="tel:+375 17 374 11 62">+375 17 374 11 62</a><br>
                    <b>E-mail:</b> <a href="mailto:mgke@minskedu.gov.by">mgke@minskedu.gov.by</a>
                </p>
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p id="footer-down">©УО "Минский государственный колледж цифровых технологий", 2022</p>
            </div>
        </div>
    </div>
</div>