<div id="footer-block">
    <div class="container">
        {% with footer_settings=settings.home.FooterSettings %}
        <div class="row">
            <div class="col-md">
                <p>
                    <b>Администрирование сайта:</b> {{ footer_settings.admin_info }} <br>
                    <b>Адрес:</b> {{ footer_settings.adress_info }} <br>
                    <b>Телефон:</b> <a href="tel:{{ footer_settings.phone_info }}">{{footer_settings.phone_info}}</a><br>
                    <b>E-mail:</b> <a href="mailto:{{ footer_settings.email_info }}">{{ footer_settings.email_info}}</a>
                </p>
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p id="footer-down">©УО "Минский государственный колледж цифровых технологий", 
                    <span id="site-commit-year"></span>
                </p>
            </div>
        </div>
        {% endwith %}
    </div>
</div>